/* estilos comunes*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}


header {
    background: #0078d7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.8rem;
}

header p {
    font-size: 1.2rem;
}

/* barra de navegacion */
nav ul {
    list-style: none;
    background: #333;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; /*resalta subrayado al pasar ratón*/
}


main {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}


article {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    /* sombra */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #0078d7;
}

article img {
    width: 100%;
    height: auto; /* las imagenes son del mismo tamaño asi */
    border-radius: 5px;
}


#recomendaciones ul {
    padding-left: 20px;
    list-style: square;
    margin: 20px 0;
}

#recomendaciones ul li {
    margin-bottom: 10px;
}

/* estilo del formulario */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    /* sombras */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /*borde del input*/
    border-radius: 5px;
}

form button {
    background: #0078d7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /*borde redondeado para los botones del formulario*/
    transition: background 0.3s ease;
}

form button:hover {
    background: #005bb5; /*al pasar el ratón por el suscribirme*/
}


footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
}



